:root {
    --side-bar-width: 20%;
    --bg-color: #f2f2f2d3;
    --secondary-color: #e9e9e9;
    --content-color: #e3e2e29f;
    --button-hover-color: #cccccc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ariel', monospace;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* END OF SCROLLBAR */

/* This element is used to control the placements a siez of the sidebar and the item content section. */
.flex-container {
    /* Vanity */
    background-image: url('resources/background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.151);

    /* Position and size */
    position: absolute;
    height: 99vh;
    width: 99vw;
    border-radius: 10px;

    /* Child Control */
    display: flex;
    flex-direction: row;

    /* Scroll Control */
    overflow: hidden;
}

.sidebar {
    /* Vanity */
    background-color: var(--bg-color);

    /* Position and size */
    height: 100%;
    width: var(--side-bar-width);

    /* Child Control */
    display: flex;
    flex-direction: column;
}

.filters,
.current-filters {
    /* Position & Size */
    width: 100%;
    padding: 1%;
    padding-inline: 2%;

    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 3px;
}

.filters>p,
.current-filters>p {
    font-weight: bold;
    width: 100%;
}

.filters>button,
.current-filters>button {
    /* Vanity */
    background-color: var(--secondary-color);
    color: rgb(147, 147, 147);
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    font-family: "Ariel", monospace;
    font-size: large;
    font-weight: 300;

    /* Position and size */
    padding-inline: 5% 1% 5% 1%;
}

.filters>button:hover,
.current-filters>button:hover {
    background-color: var(--button-hover-color);
}

.filters>button:active,
.current-filters>button:active {
    background: linear-gradient(to right, #ffffff, #00c3ff, #fb00dd, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* This elemnt will house the ldap items that we got from the backend and will allow filtering by type. */
.enumerated-items {
    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    /* Scrolling Behavior */
    overflow: auto;
    gap: 5px;
}

.enumerated-items>button {
    /* Vanity */
    background-color: var(--secondary-color);
    font-family: "Ariel", monospace;
    border: solid 1px rgb(194, 194, 194);
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 1px 1px 3px rgb(0, 0, 0);*/


    /* Position and size */
    border-radius: 5px;
}

.enumerated-items>button.btnUsers {
    background-image: url("./resources/user.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
    visibility: hidden;
}

.enumerated-items>button.btnComputers {
    background-image: url("./resources/computer.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
    visibility: hidden;
}

.enumerated-items>button.btnGroups {
    background-image: url("./resources/group.svg");
    background-position: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 30px;
    visibility: hidden;
}

.enumerated-items>button.btnDC {
    background-image: url("./resources/server.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
    visibility: hidden;
}

.enumerated-items>button:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.151);
}

.enumerated-items>button:active {
    background-color: #c4c1c1;
}

.main-container {
    /* Position and size */
    height: 100%;
    width: 80%;

    /* Child Control */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
}

.content-container {
    /* Vanity */
    background-color: var(--content-color);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.151);
    visibility: hidden;


    /* Position and size */
    height: 95%;
    width: 95%;
    border-radius: 15px;

    /* Child Control */
    display: inline-flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

.sub-container {

    /* Position and size */
    height: 80%;
    width: 80%;

    display: inline-flex;
    flex-direction: column;
    place-content: top;

    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 3px;
}

.name-attrib {
    /* Vanity */
    background-color: var(--bg-color);
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.151);
    font-family: "Ariel", monospace;
    font-size: 40px;
    font-weight: 700;
    text-align: left;

    /* Position & Size */
    padding: 10px;
    align-self: baseline;
}

.attrib-container {
    /* Position & Size */
    height: 75%;

    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    /* Scrolling Behavior */
    overflow: auto;
    gap: 5px;
}

.attribute {
    /* Vanity */
    background-color: var(--bg-color);
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.151);
    font-family: "Ariel", monospace;

    /* Position & Size */
    padding: 10px;
    align-self: baseline;
    position: relative;
    align-self: center;
    width: 100%;
    margin-bottom: 10px;
}