:root {
    --side-bar-width: 20%;
    --bg-color: #ebebebd3;
    --secondary-color: #e9e9e9;
    --button-hover-color: #cccccc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ariel', monospace;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* END OF SCROLLBAR */

/* This element is used to control the placements a siez of the sidebar and the item content section. */
.flex-container {
    /* Vanity */
    background-image: url('background.jpeg');
    background-size: cover;
    background-attachment: fixed;

    /* Position and size */
    position: absolute;
    height: 99vh;
    width: 99vw;
    border-radius: 10px;

    /* Child Control */
    display: "flex";
    flex-direction: "row";

    /* Scroll Control */
    overflow: hidden;
}

.sidebar {
    /* Vanity */
    background-color: var(--bg-color);

    /* Position and size */
    height: 100%;
    width: var(--side-bar-width);

    /* Child Control */
    display: flex;
    flex-direction: column;
}

.filters {
    /* Position & Size */
    width: 100%;
    padding: 1%;
    padding-inline: 2%;

    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 3px;

    /* Vanity */

}

.filters>p {
    font-weight: bold;
    width: 100%;
}

.filters>button {
    /* Vanity */
    background-color: var(--secondary-color);
    border: solid 1px black;
    border-radius: 5px;
    font-family: "Ariel", monospace;
    font-size: large;
    font-weight: 300;

    /* Position and size */
    padding-inline: 5% 1% 5% 1%;
}

.filters>button:hover {
    background-color: var(--button-hover-color);
}

.filters>button:active {
    background: linear-gradient(to right, #ffffff, #00c3ff, #fb00dd, #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* This elemnt will house the ldap items that we got from the backend and will allow filtering by type. */
.enumerated-items {
    /* Size & Position */
    height: max-content;

    /* Child Control */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;

    /* Scrolling Behavior */
    overflow: auto;
    gap: 5px;
}

.enumerated-items>button {
    /* Vanity */
    border: none;
    background-color: var(--secondary-color);
    font-family: "Ariel", monospace;
    border: solid 1px rgb(194, 194, 194);
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 1px 1px 3px rgb(0, 0, 0);*/


    /* Position and size */
    border-radius: 5px;
}

.enumerated-items>button.user {
    background-image: url("./svg/user.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
}

.enumerated-items>button.computer {
    background-image: url("./svg/computer.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
}

.enumerated-items>button.group {
    background-image: url("./svg/group.svg");
    background-position: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 30px;
}

.enumerated-items>button.dc {
    background-image: url("./svg/server.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 5px 5px 27px;
}

.enumerated-items>button:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.151);
}

.enumerated-items>button:active {
    background-color: #c4c1c1;
}

#content-container {
    /* Position and size */
    position: absolute;
    height: 90vh;
    width: 99vw;
    bottom: 0%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    /* Child Control*/
    overflow: hidden;
}
