body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x:-33vw;
}

/* form control */
form {
    /* Vanity */
    background-color: #ffffff;

    /* Position and size */
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 33vw;

    /* Child Control*/
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}

/* Used to align the logo & label */
.logocontainer{
    position: absolute;
    top: 0%;
    left: 50%;
}
#logoimage{
    position: absolute;
    transform: translate(-110%, 50%);
}
.logocontainer>p{
    position: absolute;
    transform: translate(-50%, 0%);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 100px;
}

/* Main flow control */
.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20vh;
}

/* Control input positioning & vanity */
.inputcontrol {
    /* Child Control*/
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 70%;
}
.inputcontrol>input {
    width: 100%;
    height: 4vh;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding-inline: 2%;
}
input#button {
    font-size: 24px;
    width: 60%;
    position: relative;
    background-color: #77627b;
    color: rgb(255, 255, 255);
    margin-top: 2vh;
    border-radius: 5px;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
    font-family: "Ariel", monospace;
    font-weight: 400;
    outline: none;
    border: none;
}
input#button:hover {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.151);
}
input#button:active {
    background-color:#4d3f50;
    transition: color 0.01s;
}

p.error-message {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    outline: none;
    border: none;
}